
<!-- <div class="board-header">
    <div class="header-cliqq"> -->
        <!-- <div class="row align-items-center no-gutters"> -->
            <!-- style="padding-left:0; padding-right:0" -->
            <!-- <div class="col-1" >  -->
                <!-- Back Button -->
                <!-- class="img-responsive" -->
            <div style="margin-left: 0.5rem;">
                <button (click)="redirect()" style="
                    background-color: transparent; border:none;vertical-align:middle;
                    padding:0.4rem">
                    <img class="ic_back_header" 
                        src="assets/images/ic-back-header.png" 
                        srcset="assets/images/ic-back-header@2x.png 2x,
                        assets/images/ic-back-header@3x.png 3x"
                        height="31"
                        width="16"

                    />
                </button>
            </div>
            
            <!-- </div> -->
            <!-- style="padding-left:0; padding-right:5px" -->
            <!-- <div class="col-11">
                <img class="header-cliqq-logo" src="assets/images/img_header_logo@2x.png"/>
            </div> -->
        <!-- </div> -->
<!-- 
    </div>
</div> -->
