<!--The content below is only a placeholder and can be replaced.-->
<div style="background:#efefe9; width:100%">
    <app-loader></app-loader>
    <div class="container-fluid">

        <!-- <div class="header-cliqq">
            <div class="row">
                <div class="col-xs-2">
                    <button style="background-color: Transparent; border:none;" (click)="goBack()">
                        <img src="assets/images/ic_back_header.png" class="img-responsive"/>
                    </button>
                </div>
                <div class="col-xs-10">
                    <img src="assets/images/img_header_logo@2x.png" width="100%"/>    
                </div>
            </div>
        </div> -->
        <!-- <div class="row"> -->
            <div class="board" id="border-color-orange">
                <!-- Navigation Area (Circular Tabs) -->
                <!-- <msw-navbar></msw-navbar> -->
                <!-- End Navigation Area (Circular Tabs) -->

                <!-- Content Area -->
                <!-- <div class="tab-content"> -->
                    <!-- Routed view  -->
                <router-outlet></router-outlet>
                <!-- </div> -->
                <!-- End Content Area -->
            </div>
        <!-- </div> -->
    
        <!-- For Debugging: show our formData as it is being typed -->
        <!-- <pre>{{ formData | json }}</pre> -->
        <!-- <hr/>
        Transaction:
        <pre>{{ transactionData | json }}</pre> -->
    </div>
</div>
