<!--The content below is only a placeholder and can be replaced.-->
<div style="background:#efefe9; width:100%">
    <app-loader></app-loader>
    <div class="container-fluid">
        <div class="board" id="border-color-orange">
            <!-- Content Area -->
            <!-- <div class="tab-content"> -->
                <!-- Routed view  -->
            <router-outlet></router-outlet>
            <!-- </div> -->
            <!-- End Content Area -->
        </div>
        <!-- </div> -->
    
        <!-- For Debugging: show our formData as it is being typed -->
        <!-- <pre>{{ formData | json }}</pre> -->
        <!-- <hr/>
        Transaction:
        <pre>{{ transactionData | json }}</pre> -->
    </div>
</div>
