<div style="margin: 0 1rem 0 1rem">
    <div class="row">
        <img src="/assets/images/palawan-express-logo/img-palawanlogo.png"
            alt="palawan express"
            srcset= "/assets/images/palawan-express-logo/img-palawanlogo@2x.png 2x,
                     /assets/images/palawan-express-logo/img-palawanlogo@3x.png 3x" 
            class="img-fluid"
            />
            
    </div>
    <div class="row">
        <div class="col-11 align-self-start">
            <div class="Pera-Padala">
                {{ introText1 }}
            </div>
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col-3">
            
        </div>
        <div class="col align-self-end">
            <div class="Pera-Padala-2">
                {{ introText2 }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 pr-0">
            <img src="/assets/images/img-mommyd/img-mommyd.png"
                alt="palawan express"
                srcset= "/assets/images/img-mommyd/img-mommyd@2x.png 2x,
                         /assets/images/img-mommyd/img-mommyd@3x.png 3x" 
                class="img-fluid mommy-d"
                />
        </div>
        <div class="col pl-0">
            <img src="/assets/images/img-logo-711/img-logo.png"
                alt="711"
                srcset= "/assets/images/img-logo-711/img-logo@2x.png 2x,
                         /assets/images/img-logo-711/img-logo@3x.png 3x" 
                class="img-fluid mommy-d"
                />
        </div>
    </div>
    <div class="row">
        <button style="background-color: Transparent; border:0;" 
        (click)="goToSend()"
        type="button"
        class="home-transaction-button-container"
        >
            <!--  -->
            <img src="/assets/images/home-send-button/transactions.png"
                alt="Send Money"
                srcset="/assets/images/home-send-button/transactions@2x.png 2x,
                        /assets/images/home-send-button/transactions@3x.png 3x" 
                class="img-fluid"
                />
        </button>
    </div>

    <hr class="orange-divider">

    <div class="row">
        <div class="col">
                <img src="/assets/images/img-happy/img-happy.png"
                alt="happy to serve!"
                srcset="/assets/images/img-happy/img-happy@2x.png 2x,
                        /assets/images/img-happy/img-happy@3x.png 3x" 
                class="img-fluid home-img-happy"
                />
        </div>
    </div>
</div>